mat-form-field{
    width: 100%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .uploaded-image {
  height: 200px;
  width: 200px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}
  